### Merging the Datasets for modelling

In [17]:
import pandas as pd

#Load the cleaned DataFrames 
reactions = pd.read_csv('C:/Users/Estar/Downloads/cleaned_reactions.csv')         
content = pd.read_csv('C:/Users/Estar/Downloads/cleaned_content.csv')           
reaction_types = pd.read_csv('C:/Users/Estar/Downloads/cleaned_reaction_types.csv')

In [18]:
#Merge reaction with content on 'Content ID'
df = pd.merge(reactions, content, on = 'Content ID', how = 'left')
display(df)

,Content ID,Reaction_Type,Datetime,Content_Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology

In [35]:
#Merge the result with reaction_types on 'Reaction_Type'
reaction_summary = pd.merge(df, reaction_types, on =  'Reaction_Type', how = 'left')
display(reaction_summary)

,Content ID,Reaction_Type,Datetime,Content_Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30
...,...,...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,negative,10
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,positive,45
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology,positive,30
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,negative,12
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,positive,70

In [40]:
reaction_summary.columns = reaction_summary.columns.str.strip()
print(reaction_summary.dtypes)

Content_ID       object
Reaction_Type    object
Datetime         object
Content_Type     object
Category         object
Sentiment        object
Score             int64
dtype: object

In [38]:
reaction_summary.rename(columns = {'Content ID': 'Content_ID'}, inplace = True)
display(reaction_summary)

,Content_ID,Reaction_Type,Datetime,Content_Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30
...,...,...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,negative,10
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,positive,45
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology,positive,30
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,negative,12
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,positive,70

In [28]:
# Group by category and sum the scores

category_scores = reaction_summary.groupby('Category')['Score'].sum().reset_index()
category_scores = category_scores.sort_values(by='Score', ascending = False)
top_5_categories = category_scores.head(5)
display(category_scores)
display(top_5_categories)

           Category  Score
0           animals  74965
9           science  71168
7    healthy eating  69339
12       technology  68738
6              food  66676
2           culture  66579
14           travel  64880
1           cooking  64756
10           soccer  57783
4         education  57436
5           fitness  55323
11         studying  54269
3              dogs  52511
13           tennis  50339
15         veganism  49619
8   public speaking  49264

          Category  Score
0          animals  74965
9          science  71168
7   healthy eating  69339
12      technology  68738
6             food  66676

In [39]:
#This dataset is clean and ready to use.
reaction_summary.to_csv('C:/Users/Estar/Downloads/cleaned_reaction_summary.csv', index=False)

In [30]:
category_scores.to_csv('C:/Users/Estar/Downloads/category_scores.csv', index=False)

In [31]:
top_5_categories.to_csv('C:/Users/Estar/Downloads/top_5_categories.csv', index=False)

In [34]:
#combining the merged dataset with the top 5 categories dataset into one spreadsheet

csv_file1 = pd.read_csv('C:/Users/Estar/Downloads/cleaned_reaction_summary.csv')  
csv_file2 = pd.read_csv('C:/Users/Estar/Downloads/top_5_categories.csv')  

with pd.ExcelWriter('C:/Users/Estar/Downloads/social_buzz_DataModelling.xlsx', engine='xlsxwriter') as writer:
    csv_file1.to_excel(writer, sheet_name='ReactionSummary', index=False)  
    csv_file2.to_excel(writer, sheet_name='TopCategories', index=False)